<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wintmain.mybatis.mapper.SelectMapper">

    <select id="getUserById" resultType="User">
        select * from t_user where id = #{id}
    </select>

    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from t_user
    </select>

    <select id="getUserByIdToMap" resultType="map">
        select * from t_user where id = #{id}
    </select>

    <select id="getAllUserToMap" resultType="map">
        select * from t_user
    </select>

    <!--    &lt;!&ndash;Mapper中的方法&ndash;&gt;-->
    <!--    <insert id="insert">-->
    <!--        insert into X values ()-->
    <!--    </insert>-->

    <!--    <update id="update">-->
    <!--        update X set X = X where X = X-->
    <!--    </update>-->

    <!--    <delete id="delete">-->
    <!--        delete from X where X = X-->
    <!--    </delete>-->
    <!--    -->




</mapper>